:root {
  --primary-color: #00f0ff;
  --secondary-color: #fff;
  --text-color: #e0e0e0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000; /* Track fon rangi */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Thumb rangi */
  border-radius: 10px;
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00cfd8;
}

img {
  width: 100%;
}

nav {
  margin-top: 25px;
}

nav .logo {
  width: 200px;
  height: 100px;
}

nav .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #navbarNav {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #navbarNav ul li a {
  color: var(--text-color);
  font-size: 20px;
  margin-left: 15px;
}

nav #navbarNav ul li.active a {
  color: var(--primary-color);
}

nav #navbarNav form button img {
  width: 40px;
  height: 20px;
  margin-left: 8px;
}

.hex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  padding: 30px;
}


/* ================================================================ */
footer {
  padding: 96px 0px 0px 0px;
}

footer h2 {
  font-size: 48px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 56px;
  font-weight: 900;
}

footer .logo {
  width: 150px;
  height: auto;
}

footer .contact {
  display: flex;
  align-items: center;
}

footer .contact .navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0px 70px;
}

footer .social_section a {
  margin-right: 20px;
}

footer .social_section i {
  font-size: 22px;
  color: var(--text-color);
}

footer .social_section i:hover {
  color: var(--primary-color);
}

footer .contact .navbar-nav{
  margin-left: 120px;
}

footer .contact .navbar-nav li {
  margin-right: 20px;
}

footer .contact .navbar-nav li a {
  font-size: 22px;
  color: var(--text-color);
}

footer .contact .navbar-nav li a:hover {
  color: var(--primary-color);
}

footer .contact .tel a {
  font-size: 20px;
  color: var(--text-color);
}

footer .contact .tel a:hover {
  color: var(--primary-color);
}

footer .contact .tel a i {
  margin-right: 15px;
}

footer .bottom small {
  color: var(--text-color);
}